.menu-button {
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 15px;
    -jfx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 210;
}

.menu-button:hover {
	-fx-effect: innershadow(gaussian, lightgrey, 2, 0, 0, 0);
}

.logo-image {
	-fx-fill: WHITE;
	-fx-stroke: grey;
	-fx-stroke-width: 0.5;
	-fx-effect: dropshadow(gaussian, grey, 10, 0, 0, 0);
}

.logo-image:hover {
	-fx-stroke-width: 0.2;
	-fx-effect: dropshadow(gaussian, grey, 6, 0, 0, 0);
}


/**--  PlayerSetup  --**/


.color-picker {
    -fx-font-size: 13px;
    -fx-background-color: WHITE;
    -fx-pref-width: 100;
}

.add-button {
	-fx-font-size: 13px;
    -jfx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 75;
}

.add-button:hover {
	-fx-effect: innershadow(gaussian, lightgrey, 2, 0, 0, 0);
}

.tree-table-view{
    -fx-tree-table-color: #5264AE;
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    visibility:hidden;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
	-fx-alignment: CENTER;
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}

.startgame-button {
	-fx-rippler-fill: #5264AE;
    -jfx-button-type: RAISED;
}

.jfx-snackbar-content {
	-fx-background-color: #323232;
}

.jfx-snackbar-toast {
	-fx-text-fill: WHITE;
	-fx-font-size: 15px;	
}

.combo-box-popup .list-view .jfx-list-cell .label,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .label {
    -fx-text-fill: BLACK;
}

.combo-box-popup .list-view .jfx-list-cell .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:selected .custom-jfx-list-view-icon {
    -fx-fill: #5264AE;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

/**--  GameScreen  --**/
.state-svg {
	-fx-stroke: black;
}

.state-svg:hover {
	fx-effect: innershadow(gaussian, lightgrey, 2, 0, 0, 0);
}

.state-svg#selected {
	-fx-stroke: black;
	-fx-fill:#9dff78;
}

.state-svg:disabled {
	-fx-fill: GREY;
}

.tank-info-lbl {
	-fx-font-size: 34px;
	-fx-text-fill: WHITE;
}

.svg-border {
	-fx-stroke:BLACK;
	-fx-stroke-width: 2;
	-fx-fill:TRANSPARENT;
}

/**--   FooterPlayerInfo  --**/

.hdr-label {
	-fx-font-size: 15 pt;
}

.cnt-label {
	-fx-font-size: 20 pt;
}

/**--  PlayerInfoSdebar  --**/
.rsk-card {
	-fx-fill: RED;
}

.rsk-card#not-sel {
	-fx-fill: BLACK;
}

.rsk-card#sel {
	-fx-fill: RED;
}

/**--  Toolbar  --**/
.toolbar {
	-fx-background-color: #5264AE;
	/*-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);*/
	
}


/**--  Dailogs  --**/
.jfx-dialog-layout {
    -fx-padding: 24.0px 24.0px 16.0px 24.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.jfx-layout-heading {
    -fx-font-size: 15.0px;
    -fx-font-weight: BOLD;
    -fx-alignment: center-left;
    -fx-padding: 5.0 0.0 5.0 0.0;
}

.jfx-layout-body .label {
    -fx-font-size: 14.0px;
    -fx-pref-width: 400.0px;
    -fx-wrap-text: true;
}

.jfx-layout-actions {
    -fx-padding: 10.0px 0.0 0.0 0.0;
    -fx-alignment: center-right;
}

.dialog-accept {
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}

/**--  Victory Screen  --**/
.victory-btn {
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 15px;
    -jfx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 210;
}